.main::before
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('WhatsApp\ Image\ 2023-09-14\ at\ 23.59.27.jpg');
    z-index: -1;
    opacity: 0.6;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(black, yellow); */
}
.box img
{
    width: 190px;
}
.box2
{
   margin-left: 800px;
}
.box2 select
{
    width: 130px;
    margin: 20px;
    height: 35px;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
}
.box2 button
{
    width: 80px;
    height: 35px;
    font-size: 15px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-family: sans-serif;
}